*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins';
}
img{
    display: block;
    max-width: 100%;
}

html{
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: space-around;
    -webkit-box-shadow: 2px 10px 5px -7px rgba(79,74,79,1);
-moz-box-shadow: 2px 10px 5px -7px rgba(79,74,79,1);
box-shadow: 2px 10px 5px -7px rgba(79,74,79,1);
}

.nav-links{
    display: flex;
    justify-content: space-around;

}
.nav-links li{
    list-style: none;
    text-transform: uppercase;
    padding: 22px;
    margin-top: 8px;
}
.nav-links a{
    text-decoration: none;
}
.logo{
    padding: 17px;
    box-sizing: border-box;
}
.b-des{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 12px;

}
.hero__des{
    position: relative;
}
.hero__des p{
    padding:2px 12px;
}

.hero_text{
    padding: 12px;
    margin-top: 50px;
    font-size: 40px;
    
}

button{
    position: absolute;
    top: 80%;
    left: 40%;
    background-color: rgb(52, 247, 52);
    padding: 14px;
    border-radius: 2px;
}
section{
    display: flex;
    justify-content: space-between;
    padding: 22px;
    background-color: rgba(36, 35, 35, 0.685);
    color: rgba(255, 255, 255, 0.753);
}

section img,.sec-2 img{
    height: 400px;
    border-radius: 12px;
}
section p{
    padding: 32px;
}

.sec-2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 22px;
    background-color: rgba(255, 255, 255, 0.753);
    color: rgba(36, 35, 35, 0.685);
}

footer{
    background-color: darkblue;
    color: #fff;
    font-family: 'poppins';
    text-transform: capitalize;
}
.q-links li{
    list-style:none;
    color: wheat;
    padding: 12px;
}
.q-links li a{
    text-decoration: none;
    color: wheat;
}
footer{
    display: flex;
    justify-content: space-around;
}

.contact{
    padding: 12px;
}

.contact form input{
    padding: 8px;
}

.icons{
display: flex;
justify-content: space-around;
}